.Enquiry{
  margin-left: 8%;
  margin-top: 7%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
  float: left;
}

.Quotes{
  margin-left: 40%;
  margin-top: 7%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    float: left;
}

.Costing{
  margin-left: 8%;
  margin-top: 7%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    float: left;
}

.Checklist{
  margin-left: 40%;
  margin-top: 7%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    float: left;
}

.maintanence{
  margin-left: 8%;
  margin-top: 7%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    float: left;
}

.order{
  margin-left: 40%;
  margin-top: 7%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    float: left;
}

.allTablesButton{
    position: fixed;
    width: auto;
    height: auto;
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 20pt;
    padding: 5% 5% 5% 5%;
    margin: 0 0 0 0;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.dataInsertion{
    position: fixed;
    width: auto;
    height: auto;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-size: 20pt;
    padding: 5% 5% 5% 5%;
    margin: 0 0 0 30%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.adminAccess{
		
    position: fixed;
    width: auto;
    height: auto;
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 20pt;
    padding: 5% 5% 5% 5%;
    margin: 0 0 0 60%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.checkList {
		position: fixed;
		width: auto;
		height: auto;
    text-decoration: none;
		background-color: black;
    color: white;
    font-size: 20pt;
    padding: 5% 5% 5% 5%;
    margin: 18% 0 0 2%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.maintenanceSpec{
		position: fixed;
		width: auto;
		height: auto;
    text-decoration: none;
		background-color: purple;
    color: white;
    font-size: 20pt;
    padding: 5% 5% 5% 5%;
    margin: 18% 0 0 29.5%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

ul{
	 list-style-type: none;
	 margin: 15% 0 0 0;
}


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset "UTF-8";
/* Base Styles */
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
#cssmenu {
  border: 1px solid #133e40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: auto;
}
#cssmenu ul {
 background: linear-gradient(#81222a, #c6474e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  margin-left: 13%;
}
#cssmenu li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
}
#cssmenu li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li.active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -moz-box-shadow: inset 0 5px 10px #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}
#cssmenu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li:hover a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -moz-box-shadow: inset 0 5px 10px #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}

html{
  background: linear-gradient(to bottom, #D3E8F9, white);
  background-repeat: no-repeat;
}