#loginMain {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	border: 2px solid;
	padding-bottom: 10px;
	padding-left: 10px;	
}

#loginDetails{
	font-family: Helvetica;
}

h1{
	text-align: center;
	font-family: Helvetica;
}

input[type="submit"]
{
	color: white;
	background-color: blue;
	border-style: none;
	font-family: Helvetica;
	padding: 3% 4% 3% 4%;
	margin: 8% 0 0 38%;
	text-decoration: none;
	font-weight: bold;
	
}

.usernameBox{
	margin: 0 0 0 5%;
}

.passwordBox{
	margin: 0 0 0 6.2%;
}