#loginMain {
	margin-top: 10%;
	margin-left: 39%;
	width: 20%;
	border: 2px solid;
	padding-bottom: 10px;
	padding-left: 10px;	
	position: fixed;
}

body{
	/*background: linear-gradient(to bottom, #D3E8F9, white);
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

#loginDetails{
	font-family: Helvetica;
}

h1{
	text-align: center;
	font-family: Helvetica;
}

input[type="submit"]
{
	color: white;
	background-color: blue;
	border-style: none;
	font-family: Helvetica;
	padding: 3% 4% 3% 4%;
	margin: 8% 0 0 37%;
	text-decoration: none;
	font-weight: bold;
	border-radius: 16px;
	
}

.companyHeader{
	position: fixed;
	background: linear-gradient(to bottom, #D3E8F9, white);
	z-index: 10;
	width: 110%;
	margin: -0.8% 0 0 -5%;
}

img{
	width: 35%;
	height: 12%;
	margin: 0 0 0 32%;
}

.usernameBox{
	margin: 0 0 0 0;
	width: 95%;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	text-align: center;
}

.passwordBox{
	margin: 5% 0 0 0;
	width: 95%;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	text-align: center;

}

#button{
	margin: 10% 0 0 34%;
}