#loginMain h1{
	margin-left: 35%;

	margin-top: -35%;
}

#loginMain input{

	margin-left: -50%;

}

#loginMain textarea{
	margin-left: -50%;

}

#loginMain {
	margin-top: 7%;
	margin-left: 34%;
	width: 20%;
	padding-bottom: 10px;
	padding-left: 10px;	

}

button{
  margin-left: 36%;
  margin-top: 10%;
  width: 20em;  height: 2em;
  background: #AAACF0;
  font-weight: bolder;
  border: 2px solid;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);


}

body{
	/*background: linear-gradient(to bottom, #D3E8F9, white);
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

#loginDetails{

	font-family: Helvetica;
}




.companyHeader{

	background: linear-gradient(to bottom, #D3E8F9, white);
	z-index: 10;
	width: 110%;
	margin: -0.8% 0 0 -5%;
}

img{
	width: 35%;
	height: 12%;
	margin: 0 0 0 32%;
}

.Quotes{
	margin-bottom: 10%;

	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	text-align: left;

}

.area{

}


#button{
	margin: 10% 0 0 34%;
}