.fontTh {
	font-family: "Times New Roman";
}

.colorOne {
	border: 1px solid;
}

.colorTwo {
	border: 1px solid;
	border-color: grey;	
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	border: 2px solid;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: white;
		
}

.title {
	text-align: center;
	font-family: "Arial";
	font-size: 25px;
	color: blue;
}

.subTitle {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 24px;
	font-weight: bold;
}

.red {
	color: red;
	text-align: center;
}

.createButton{
	padding: 10px 15px;
    background: white;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	border: 2px solid;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	margin-top: 10px;
	margin-left: 47%;

}

.navBar{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}

.allTablesButton{
	position: fixed;
	margin-left: 25%;
	margin-top: 10%;
}

.dataInsertion{
	position: fixed;
	margin-left: 65%;
	margin-top: 10%;
}

.adminAccess{
	position: fixed;
	margin-left: 45%;
	margin-top: 20%;
	

}

body {
	background-color: white;

}


a {
    display: block;
    width: 90px;
    float: left;
}

