<<<<<<< HEAD
.costForm {
	margin-left: 15%;
	margin-right: 15%;
	border: 2px solid;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #AAACF0;
		
}
=======
.fontTh {
	font-family: "Times New Roman";
}

.colorOne {
	border: 1px solid;
}

.colorTwo {
	border: 1px solid;
	border-color: grey;	
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
>>>>>>> origin/master
	border: 2px solid;
	padding-bottom: 10px;
	padding-left: 10px;	
}


.gap {
	font-family: "Arial",Helvetica, sans-serif;
	font-size: 24px;
	color: blue;
}
.electrical {
	font-family: "Arial",Helvetica, sans-serif;
	font-size: 24px;
	color: red;
	}

#container {
	text-align: center; 
}

.subTitle {
	text-align: center;
	font-family: "Times New Roman";
	font-size: 24px;
	font-weight: bold;
}

.createButton{
	padding: 10px 15px;
    background: #AAACF0;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	border: 2px solid;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	margin-top: 10px;
	margin-left: 47%;

}

.navBar{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}

tr, td, th{
	border: 1px solid;
}

table {
    border-collapse: collapse;
}

a {
    display: block;
    width: 90px;
    float: left;
}

<<<<<<< HEAD
<<<<<<< HEAD
*:focus {
    outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

=======
#enquiry{
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#enquiry td, #enquiry th {
    font-size: 13px;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

#enquiry th {
    font-size: 14px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: white;
    color: black;
}

#enquiry tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
>>>>>>> origin/master
=======
>>>>>>> parent of d25afad... Enquiry indented and CSS moved.
