.costForm {
	margin-left: 10%;
	margin-right: 10%;

	padding-bottom: 10px;

}

.fontTh {
	font-family: "Times New Roman";
}

.colorOne {
	border: 1px solid;
}

.colorTwo {
	border: 1px solid;
	border-color: grey;	
}

.content {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	border: 2px solid;
	padding-bottom: 10px;

}


.gap {
	font-family: "Arial",Helvetica, sans-serif;
	font-size: 24px;
	color: blue;
}
.electrical {
	font-family: "Arial",Helvetica, sans-serif;
	font-size: 24px;
	color: red;
	}

#container {
	text-align: center; 
}

.subTitle {
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0 0 0 20%;
}

.logo{
	position: fixed;
	margin: -10% 0 0 30%;
	height: 100px;
	width: 500px;
	font-family: "Times New Roman";
	font-size: 24px;
	font-weight: bold;
}

.createButton{
	padding: 10px 15px;
    background: #AAACF0;
	font-weight: bolder;
	border: 2px solid;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	margin-top: 20px;
	margin-left: 40%;

}

.logoutButton{
	padding: 10px 15px;
    background: #AAACF0;
	font-weight: bolder;
	border: 2px solid;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	margin-left: 50%;

}

.loginButton{
	padding: 10px 15px;
    background: white;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	border: 2px solid;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	margin-top: 10px;
	margin-left: 47%;

}

.navBar{
	width: 800px;
	margin-left: 39%;
	margin-right: auto;
	height: 50px;
}


allTablesButton, dataInsertion, adminAccess{
    display: block;
    width: 20%;
}
	
tr, td, th{
	border: 1px solid;
}

ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

table {
    border-collapse: collapse;
}

a {
    display: block;
    width: 90px;
    float: left;
}

*:focus {
    outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

#enquiry{
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    width: 50%;
    border-collapse: collapse;
    margin: 0 0 0 -0.5%;
}

#enquiry td, #enquiry th {
    border: 1px solid black;
    padding: 3px 0px 2px 0px;
}

#enquiry th {
    font-size: 10pt;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-right: 5px;
    background-color: white;
    color: black;

}

#enquiry tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}


.table col:nth-child(1){width:10px;}


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset "UTF-8";
/* Base Styles */
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
#cssmenu {
  border: 1px solid #133e40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: auto;
}
#cssmenu ul {
  zoom: 0;
  background: #36b0b6;
  background: -moz-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #2a8a8f));
  background: -webkit-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: -o-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: -ms-linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  background: linear-gradient(top, #36b0b6 0%, #2a8a8f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  float: left;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  margin-left: 20%;
}
#cssmenu li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 16px;
}
#cssmenu li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li.active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -moz-box-shadow: inset 0 5px 10px #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}
#cssmenu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #36b0b6;
}
#cssmenu li:hover a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
  border: 1px solid #133e40;
  -moz-box-shadow: inset 0 5px 10px #133e40;
  -webkit-box-shadow: inset 0 5px 10px #133e40;
  box-shadow: inset 0 5px 10px #133e40;
}

progress{
	width: 100%;
	height: 20px;
}

.progressText{
	position: relative;
    top: 1.20em;
    margin-left: 17%;
    word-spacing: 25px;
    
}

html{
  background: linear-gradient(to bottom, #D3E8F9, white);
  background-repeat: no-repeat;
}


@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    p a, p a:visited { color: #444 !important; text-decoration: underline; }
    p a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
    .hide-on-print { display: none !important; }
    .print-only { display: block !important; }
	
}
.desc {
width:100%;
}
#materialsTable{
width:100%;
}
#servicesTable{
width:100%;
}
#labourTable{
width:100%;
}
.col1{
width:70px;
}
.col2{
width:650px;
}
.col2 input{
width:99%;
}
.col3{
min-width:20px;
max-width:20px;
}
.materials {
width:30%;
}
.no{
width:10%;
}
.no input{
width:98%;
}
.iDesc input{
width:99%;
}
.lab input{
width:99%;
}
.no2{
width:10%;
}

